:root{

--primary:#B5121B;
--primary-dark:#8E0F16;
--secondary:#1B1B1B;
--accent:#D7262D;

--white:#ffffff;
--light:#F8F8F8;
--gray:#707070;
--border:#E5E5E5;

--success:#16A34A;
--warning:#F59E0B;
--danger:#DC2626;

--radius-sm:8px;
--radius-md:12px;
--radius-lg:20px;
--radius-xl:30px;
--radius-pill:999px;

--shadow-sm:0 2px 10px rgba(0,0,0,.08);
--shadow-md:0 8px 25px rgba(0,0,0,.12);
--shadow-lg:0 20px 50px rgba(0,0,0,.18);

--container:1320px;

--transition:.35s ease;

--font-heading:"Manrope",sans-serif;
--font-body:"Inter",sans-serif;

}